;; shadow-cljs configuration
{:lein {:profile "+cljs"}

 :source-paths
 ["src/cljs"]

 :dependencies
 [[org.clojure/clojure "1.8.0"]
  [org.clojure/clojurescript "1.10.238"]
  [reagent "0.7.0"]
  [re-frame "0.10.5"]
  [binaryage/devtools "0.9.10"]]

 :builds
 {:app {:target     :browser
        :output-dir "resources/public/js/compiled"
        :asset-path "js/compiled"
        :modules    {:app {:entries [conway.core]}}
        :compiler-options {:infer-externs :auto}

        :devtools   {:preloads [devtools.preload]
                     :http-root "resources/public"
                     :http-port 8020}}}}
